root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,php,rb,py}]
charset = utf-8
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[composer.json]
indent_style = space
indent_size = 4

[{bower.json,package.json,.travis.yml}]
indent_style = space
indent_size = 2
