<?xml version="1.0" encoding="utf-8"?>
<configdata>
    <hosts>
        <host>127.0.0.1:9200</host>
    </hosts>

    <types>
        <page indexName="pimcore" typeName="page" />
        <asset indexName="pimcore" typeName="asset">
            <bodyContent propertyName="content" />
        </asset>
    </types>
</configdata>
